<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magenest_edit_url_key">
        <observer name="magenest_edit_change_url_key" instance="Magenest\Movie\Observer\ChangeUrlKey" />
    </event>
</config>
