<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_director_listing_data_source" xsi:type="string">magenest_director_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_director_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\DirectorModel\Director</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_actor_listing_data_source" xsi:type="string">magenest_actor_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_actor_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ActorModel\Actor</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_actor_listing_data_source" xsi:type="string">magenest_movie_actor_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_movie_actor_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\MovieActorModel\MovieActor</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_listing_data_source" xsi:type="string">magenest_movie_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_movie_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\MovieModel\Movie</argument>
        </arguments>
    </virtualType>
</config>
